      </div>
    </main>

    <footer class="mt-auto text-center p-4">
        Created by <a href="https://github.com/bmilcs/odin-inventory" class="text-blue-600 hover:underline text-1xl font-extrabold tracking-tighter">BMILCS</a>
    </footer>

  </body>
</html>
