<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inventory: An Express App [bmilcs]" />
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Inventory App: Express | MongoDB | TailwindCSS [bmilcs]</title>
  </head>
  <body class="font-sans bg-neutral-200 text-neutral-900 flex flex-col h-screen justify-start ">
    <header class="flex justify-center mx-2">
      <div class="bg-neutral-800 text-neutral-200 px-4 w-full text-sm md:text-base shadow-md max-w-screen-lg rounded-md flex-1 mt-2 p-2 my-1 md:my-4 lg:my-6">
      <div
        class="mx-auto flex max-w-5xl flex-col items-center justify-between sm:flex-row sm:gap-8 md:justify-start"
      >
        <!-- page title -->
        <h1 class="text-xl md:text-2xl font-extrabold tracking-tighter"><a class="hover:underline" href="/inventory/all">INVENTORY</a></h1>
        <!-- navigation -->
        <nav>
          <ul class="flex gap-4">
            <li><a class="hover:underline" href="/">Home</a></li>
            <li>
              <a class="hover:underline" href="/inventory/all">Products</a>
            </li>
            <li>
              <a class="hover:underline" href="/categories/all">Categories</a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
    </header>

    <main class="mx-3">
      <div class="mx-auto max-w-5xl my-6 md:my-8 lg:my-10 ">

