<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inventory: An Express App [bmilcs]" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Inventory App: Express | MongoDB | TailwindCSS [bmilcs]</title>
  </head>
  <body class="font-sans text-neutral-700">
    <header class="bg-neutral-200 p-4">
      <div
        class="mx-auto flex max-w-5xl flex-col items-center justify-between sm:flex-row sm:gap-8 md:justify-start"
      >
        <!-- page title -->
        <h1 class="text-2xl font-extrabold tracking-tighter">INVENTORY</h1>
        <!-- navigation -->
        <nav>
          <ul class="flex gap-4">
            <li><a class="hover:underline" href="/">Home</a></li>
            <li>
              <a class="hover:underline" href="/inventory/all">Products</a>
            </li>
            <li>
              <a class="hover:underline" href="/categories/all">Categories</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="mx-3 my-6">
      <div class="mx-auto max-w-5xl">

