<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inventory: An Express App [bmilcs]" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Inventory App: Express | MongoDB | TailwindCSS [bmilcs]</title>
  </head>
  <body class="font-sans text-neutral-700">
    <header class="bg-gray-200 p-4">
      <div class="sm:gap-8 sm:flex-row md:justify-start justify-between flex-col max-w-5xl mx-auto flex items-center ">
        <!-- page title -->
        <h1 class="font-extrabold text-4xl tracking-tighter">INVENTORY</h1>
        <!-- navigation -->
        <nav>
          <ul class='flex gap-4'>
            <li><a class="hover:underline" href="/">Home</a></li>
            <li><a class="hover:underline" href="/products">Products</a></li>
            <li><a class="hover:underline" href="/categories">Categories</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="mx-3 my-6">
      <div class="max-w-5xl mx-auto">
