<%- include('partials/header') %>

<section class="text-center" aria-label="hero">
  <h2
    class="leading-negative-2 md:leading-negative text-6xl font-extrabold tracking-tight md:text-8xl md:tracking-tighter"
  >
    Inventory <span class="block">should be easy</span>
  </h2>

  <p class="mx-auto mt-6 max-w-md leading-relaxed">
    Welcome to the Inventory App. This is a simple app to help you manage your
    inventory. Create categories, add products to them and manage your inventory
    with ease!
  </p>
</section>

<section class="text-center" aria-label="hero">
  <div class="mx-auto grid max-w-md grid-cols-2 justify-around gap-4 p-8">
    <a
      class="rounded-md bg-neutral-800 p-4 text-neutral-200 transition-all duration-300 ease-in-out hover:-translate-y-4 hover:bg-blue-600"
      href="/inventory/all"
    >
      <p class="text-7xl font-extrabold"><%= productCount %></p>
      <h4>Products</h4>
    </a>
    <a
      class="rounded-md bg-neutral-800 p-4 text-neutral-200 transition-all duration-300 ease-in-out hover:-translate-y-4 hover:bg-blue-600"
      href="/categories/all"
    >
      <p class="text-7xl font-extrabold"><%= categoryCount %></p>
      <h4>Categories</h4>
    </a>
  </div>
</section>

<%- include('partials/footer') %>
