<%- include('partials/header') %>

<section class="text-center my-16">
  <h2
    class="font-extrabold text-6xl leading-negative-2 tracking-tight md:text-8xl md:tracking-tighter md:leading-negative"
  >
    Inventory <span class="block">should be easy</span>
  </h2>

  <p class="max-w-md mx-auto leading-relaxed my-6">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nulla
    beatae commodi provident magni fugit nobis obcaecati impedit saepe debitis,
    veniam rem tempore consequuntur ex!
  </p>
</section>

<%- include('partials/footer') %>
