<%- include('partials/header') %>

<section class="my-16" aria-label="hero">
  <h2
    class="leading-negative-2 md:leading-negative text-3xl font-extrabold tracking-tight md:text-5xl md:tracking-tighter"
  >
    All Products
  </h2>

  <p class="mt-2">Here is a full list of your inventory:</p>

  <%- include('partials/productGrid', { products }) %>
</section>

<%- include('partials/footer') %>
