@tailwind base;
@tailwind components;
@tailwind utilities;

.leading-negative {
  line-height: 0.8;
}

.leading-negative-2 {
  line-height: 0.9;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
